.list {
	min-height: 200px;
	width: 500px;
	padding: 10px 20px;
	border: 1px solid #e5e5fa;
	border-radius: 5px;
	margin: 0 auto;
	word-wrap: break-word;
}
h1 {
	text-transform: uppercase;
	text-align: center;
	color: #e6e6fa;
	margin: 10px 0;
}
